*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100vw;
    height: 100vh;
    overflow :hidden;
}

.game-container{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: "Player1 Gameboard Player2"
                         "Player1 buttons Player2" ;
}


.container{
    display: grid;
    grid-area: Gameboard;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    border: 1px solid black;
    width: 30vw;
    height: 50vh;
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    text-align: center;
    font-size: 100px;
}

.player1-container{
    border-radius: 25px;
    grid-area: Player1;
    grid-template-areas:  "PlayerInfo"
                          "PlayerScore";
}
/* 
.top-container > p{
    font-size: 37px;
    font-weight: 800;
    background-color: lightblue;
    color: white;
}

.top-container > div{
    height: 60%;
    background-color: blue;
    overflow: auto;
    font-size: 24px;
} */

.p1-top-container{
    height: 100%;
}
.p1-score-container{
    height: 100%;
}

 .p1-previous-rounds, .p2-previous-rounds{
    overflow: auto;
    height: 80%;
}


.player2-container{
    grid-area: Player2;
}

.player1-container, .player2-container{
    display: grid;
    grid-template-rows: 490px 490px;
    width: 100%;
    height: 100%;
}


.button-game{
    grid-area: buttons;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "turn turn"
                         "p1 p2" ;
    text-align: center;
}

.button-game > p {
    font-size: 200px;
}
.p1-mark {
    grid-area: p1;
}

.p2-mark {
    grid-area: p2;
}

.player-turn {
    grid-area: turn;
}
.resetBoard {
    padding: 20px 60px;
    font-size: 24px;
    background-color: lightblue;
    color: white;
    border: none;
    border-radius: 30px;
}

#modal-container{
    position: fixed;
    margin: auto;
    border: none;
    width: 400px;
    height: 200px;
    border-radius: 20px;
    background-color: gainsboro;
    
}

#modal{
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}


#modal> div > button {
    padding: 20px 50px;
    background-color:lightblue;
    border: none;
    border-radius: 15px;
    color: white;
}

#modal> p {
    color : white;
    font-size: 24px;
    font-weight: bold;
}